* {
  margin: 0%;
  padding: 0%;
}

/*HEADER */
.navbar {
  background-color: #3d1365 !important;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
}

.navbar-brand {
  font-size: 2rem;
}

/*Banner*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.img_banner {
  width: 100%;
  max-width: 1200px;
  min-width: 500px;
}

/*Footer*/
footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark);
  color: #ffffff;
  background-color: #2a2a2a;
}

.copyright-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0;
}

.footer-menus {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
}

.footer-container {
  height: fit-content;
  width: 100%;
  padding: 3rem 6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-content-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

footer .website-logo {
  margin-bottom: 1.2rem;
  font-size: calc(1vw + 20px);
}

.footer-info {
  text-decoration: none;
  color: white;
  margin: 0.2rem 0;
  opacity: 0.7;
  transition: 0.5s;
}

.menu-item-footer {
  text-decoration: none;
  color: white;
  margin: 0.2rem 0;
  opacity: 0.7;
  transition: 0.5s;
}
.menu-item-footer:hover {
  opacity: 1;
}

.menu-title {
  font-size: var(--medium-text-font);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
}

.social-link {
  height: 100%;
  width: 30px;
  background-image: url(FacebookBlanco.png);
  background-size: 70%;
  background-position: center;
  margin-right: 1rem;
  background-repeat: no-repeat;
}
.social-link:hover {
  opacity: 0.7;
}

footer .social-link:nth-of-type(2) {
  background-image: url(TwitterBlanco.png);
}
footer .social-link:nth-of-type(3) {
  /*Nth of type inside that container*/
  background-image: url(LinkedinBlanco.png);
}

/* PAGINA CONTACTO*/
/* FORMULARIO */
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
}
.logo span {
  color: rgb(117, 17, 76);
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #e5d6e7;
}
.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form form label {
  display: block;
}
.contact-form form p {
  margin: 0;
  padding: 1em;
}
.contact-form form .block {
  grid-column: 1/3;
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #2a2a2a;
  border-bottom: 1px solid #3d1365;
}
.contact-form form button {
  background: #cbbbd6;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.contact-form form button:hover, .contact-form form button:focus {
  background: #3d1365;
  color: #ffffff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.contact-info {
  background: rgb(212, 212, 212);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.623);
  border-radius: 50px 0 50px;
}
.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/*MEDIA QUERY footer / PRODUCTOS*/
@media (max-width: 768px) {
  .footer-container {
    padding: 2rem;
    flex-direction: column;
  }
  .footer-content-container {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #2a2a2a;
    justify-content: center;
    align-items: center;
  }
  .footer-content-container:nth-of-type(1) {
    align-items: flex-start;
  }
  .footer-content-container:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0;
  }
  .footer-menus {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #2a2a2a;
  }
  .footer-menus .footer-content-container:nth-of-type(1), .footer-menus .footer-content-container:nth-of-type(2) {
    width: 45%;
    align-items: flex-start;
    border-bottom: none;
  }
}
/* LARGE SIZE */
@media (min-width: 700px) {
  body {
    padding: 0 4em;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}
/*hacemos responsive la pagina de PRODUCTOS*/
@media (max-width: 768px) {
  .container-features {
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 2rem;
  }
  .tarjeta-feature {
    padding: 2rem;
  }
  .heading-1 {
    height: 12rem;
  }
  .tarjeta-categoria {
    height: 12rem;
  }
  .tarjeta-categoria p {
    font-size: 2rem;
    text-align: center;
    line-height: 1;
  }
  .tarjeta-categoria span {
    font-size: 1.4rem;
  }
  .contenedor-options {
    align-items: center;
  }
  .contenedor-options span {
    text-align: center;
    padding: 1rem 2rem;
  }
  .contenedor-productos {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }
}
@media (max-width: 468px) {
  .heading-1 {
    max-width: 50rem;
    padding: 22rem 0;
  }
  .tarjeta-feature {
    flex-direction: column;
    border-radius: 2rem;
  }
  .feature-content {
    align-items: center;
  }
  .feature-content p {
    font-size: 1.4rem;
    text-align: center;
  }
  .contenedor-options span {
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    font-weight: 500;
  }
  .contenedor-productos {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  .contenedor-img .discount {
    font-size: 2rem;
  }
  .contenedor-tarjeta-producto h3 {
    font-size: 2.2rem;
  }
}
/*Pc Armadas Clientes */
.pcarmadas {
  text-align: center;
  margin: 10vh;
  border-bottom: 1px solid #2a2a2a;
}
.pcarmadas h3 {
  color: #3d1365;
  transform: none;
  font-size: 2rem;
}

/*tarjeta*/
.tarjetas {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  padding: 10px;
}

.card {
  width: 30%;
  height: 650px;
  background-color: rgb(219, 218, 218);
  border: 5px solid rgb(39, 39, 39);
}

.card_img {
  height: 160px;
  background-color: #3d1365;
  background-size: cover;
  background-position: center;
}

.card_title {
  margin-top: 10px;
  color: #3d1365;
  text-align: center;
  font-size: 25px;
}

/*PAGINA PRODUCTOS*/
/*main contenedor*/
.main-contenedor {
  background: #ffffff;
}

/*FEACTURES*/
.container-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 3rem 0;
}

.tarjeta-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #b281b9;
  border-radius: 1rem;
  padding: 1.5rem 0;
}
.tarjeta-feature i {
  font-size: 2.7rem;
  color: #ffffff;
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.feature-content span {
  font-weight: 700;
  font-size: 1.2rem;
  color: rgb(5, 5, 5);
}
.feature-content p {
  color: #3d1365;
  font-weight: 500;
}

/*CATEGORIAS*/
.contenedor-top-categorias {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.contenedor-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.tarjeta-categoria {
  height: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
  gap: 2rem;
}

.categoria-placas {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.categoria-mother {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.categoria-procesadores {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.tarjeta-categoria p {
  font-size: 2.5rem;
  color: #2e2929;
  text-transform: capitalize;
  position: relative;
}
.tarjeta-categoria p::after {
  content: "";
  width: 2.5rem;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%, 50%);
}
.tarjeta-categoria span {
  font-size: 1.6rem;
  color: #3d1365;
  cursor: pointer;
}
.tarjeta-categoria span:hover {
  color: #b281b9;
}

.heading-1 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

/*TOP PRODUCTOS*/
.contenedor-top-productos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.contenedor-options {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.contenedor-options span {
  color: #000000;
  background-color: #ffffff;
  padding: 0.7rem 3rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  border-radius: 2rem;
  cursor: pointer;
}
.contenedor-options span:hover,
.contenedor-options span .active {
  background-color: #b281b9;
  color: #ffffff;
}

/*PRODUCTOS*/
.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}

.tarjeta-producto {
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.623);
}

.contenedor-img {
  position: relative;
}
.contenedor-img img {
  width: 450px;
  height: 450px;
  margin: 0 15;
}
.contenedor-img .discount {
  position: relative;
  left: 0;
  background-color: #b281b9;
  color: #fff;
  padding: 2px 1.2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}

.tarjeta-producto:hover .discount {
  background-color: #2a2a2a;
}

.content-tarjeta-producto {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  row-gap: 1rem;
}

.starts {
  grid-row: 1/2;
  grid-column: 1/-1;
}
.starts i {
  font-size: 1.3rem;
  color: #232224;
}

.content-tarjeta-producto h3 {
  grid-row: 2/3;
  grid-column: 1/-1;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.content-tarjeta-producto h3:hover {
  color: #b281b9;
}

.add-tarjeta {
  justify-self: start;
  border: 1px solid #2a2a2a;
  padding: 3rem;
  border-radius: 35%;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-tarjeta:hover {
  background-color: #b281b9;
}
.add-tarjeta i {
  font-size: 1.5rem;
  color: #b281b9;
}
.add-tarjeta:hover i {
  color: #ffffff;
}

.contenedor-tarjeta-producto .precio {
  justify-self: end;
  align-self: center;
  font-size: 1.7rem;
  font-weight: 600;
}

.content-tarjeta-producto .precio span {
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: line-through;
  color: #777;
  margin-left: 0.5rem;
}

/*PAGINA DE QUIENES SOMOS */
.about__img {
  width: 50%;
  margin-left: 20px;
  float: right;
  margin-bottom: 20px;
}

.about__h1 {
  text-align: center;
  font-size: 50px;
  margin: 25px;
}

.about__h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

.about {
  padding: 0 20px;
}

.about__p {
  font-size: 20px;
}

/*SUCURSALES*/
.container-map {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: #333;
  margin-bottom: 60px;
}

iframe {
  width: 80%;
  height: 500px;
  filter: invert(100%);
}

/*# sourceMappingURL=estilos.css.map */
