/*Banner*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.img_banner {
    width: 100%;
    max-width: 1200px;
    min-width: 500px;
}
