/* ********************************** */
/*               BANNER               */
/* ********************************** */

.banner {
    background-image: linear-gradient(100deg, #000000, #00000020), url("../img/bannerdelinicio.jpg") !important;
    height: 40rem;
    background-size: cover;
    background-position: center;
  }
  
  .content-banner {
    max-width: 90rem;
    margin: 0 auto;
    padding: 15rem 0;
  
    p {
      color: var(--primary-color);
      font-size: 1.6rem;
      margin-bottom: 1rem;
      font-weight: 500;
    }
  
    h2 {
      color: $color-blanco;
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1.2;
    }
  
    a {
      margin-top: 2rem;
      text-decoration: none;
      color: $color-blanco;
      background-color: $color-negro;
      display: inline-block;
      padding: 1rem 3rem;
      text-transform: uppercase;
      border-radius: 3rem;
    }
  }