/*Pc Armadas Clientes */

.pcarmadas {
    text-align: center;
    margin: 10vh;
    border-bottom: 1px solid $color-negro;

    h3 {
        color: $color-violeta;
        transform: none;
        font-size: 2rem;
    }
}
