/*PAGINA DE QUIENES SOMOS */

.about__img {
    width: 50%;
    margin-left: 20px;
    float: right;
    margin-bottom: 20px;
}

.about__h1 {
    text-align: center;
    font-size: 50px;
    margin: 25px;
}

.about__h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.about {
    padding: 0 20px;
}

.about__p {
    font-size: 20px;
}
