/*PAGINA DE QUIENES SOMOS */

.about__img {
    width: 25%;
    margin-left: 200px;
    float: right;
  }
  
  .about__h1 {
    text-align: center;
    font-size: 40px;
    margin: 25px;
  }
  
  .about__h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .about {
    padding: 0 20px;
  }
  
  .about__p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  


